# project files
build/
debug_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User defined
obj
dramsim3
dramsim3test
dramsim3main
*.log
build*
googletest
cmake-build*
release
.idea
*.pyc
*.vh

# IDEs
.vscode/settings.json
