# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User defined
obj
dramcore
dramcoretest
dramcore.dSYM
*.log
build*
googletest
cmake-build*
release
.idea

# IDEs
.vscode/settings.json
